<footer class="footer-main">
    <i>"It gets easier. Every day, it gets a little easier. But you gotta do it every day – that’s the hard part. But it does get easier."</i>
    <p></p>
    <p></p>
    {{ site.title }} © {{ site.time | date: '%Y' }}

    <!--<a class="link" href="{{ site.url }}/feed.xml" target="_blank" alt="anchor link to rss feed" aria-label="anchor link to rss feed">
        <i class="fa-solid fa-rss"></i>
    </a>-->

    <p class="extra">
        Kindly adapted from <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
    </p>
</footer>
